script {
    display: none;
}

html {
    display: block;
}

head {
    background-color: rgb(238, 245, 251);
    font-family: "space grotesk", Helvetica, sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
--scrollbar-width: 0px;
font-family: "space grotesk", Helvetica, sans-serif;
font-size: 1em;
text-decoration: none;
font-weight: 400;
background-color: rgb(233, 245, 255);
color:blue
}

.row {
    display: flex;
    flex-wrap: nowrap;
  }

.side {
    flex: 10%;
    flex-direction: column;
    padding: 1vw;
  }

  .main {
    flex: 1;
    padding: 1vw;
  }

.navbar {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    margin-left: 2vw;
    margin-right: 3vw;
}

h1 {
  background-color: blue;
  width: 100%;
  color: white;
  padding: 0.5vw 0;
  text-decoration: none;
  text-align: left;
  font-size: 8vw;
  margin: 0;
}

.navbar h2 {
    color: blue;
    text-decoration: none;
    flex-direction: row;
    font-size: 1.5vw;
}

.navbar a {
  color: blue;
  padding: 0.5vw;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease; 
  display: inline-block; 
}

.navbar a:hover {
  color: rgb(255, 195, 42);
  transform: scale(1.5); 
  border: 0.5vw solid rgb(233, 245, 255); 
  background-color: rgb(233, 245, 255); 
}

.navbar .Projects-container h3 {
    display: none; 
}

.navbar .Projects-container:hover h3 {
    display: block;
    margin-left: 2vw;
}

.gallery {
    flex-direction: column;
    margin-left: 2vw;
    text-align: left;
    line-height: 1.2em;
    font-size: 2vw;
}

.gallery h1 {
    color: blue;
    padding: 0;
    font-size: 2.5vw;
}

.gallery h2 {
    color: blue;
    font-size: 1.5vw;
}

.artwork {
    width: 10vw;
    margin: 2vw;
    display: inline-block;
    position: relative;
  }
  
  .artwork img {
    width: 100%;
    height: auto;
  }

  .title {
   opacity: 0;
   transition: opacity 0.3s;
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the title */
    width: 100%;
    text-align: center;
    color: blue;
    background-color: rgba(0, 0, 0, 0.6); /* Optional: Add a semi-transparent background */
    padding: 0.5vw; 
}

.artwork :hover .title {
  opacity: 1;
}


@font-face {
    font-family: 'space grotesk';
    src: url('SpaceGrotesk-Regular.ttf') format('regular');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'space grotesk';
    src: url('SpaceGrotesk-Regular.ttf') format('regular');
    font-weight: 400;
    font-style: normal;
  }

  @media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .side {
        flex: 1 1 100%;
    }

    .main {
        flex: 1 1 100%;
    }

    .gallery {
        font-size: 3vw;
    }

    .artwork {
        width: 90vw;
    }
}