.welcome {
    /* margin-top: 1.5vw; */
    background-color: blue;
    color: white;
    border-color: blue;
    border-style: solid;
    border-width:2cap;
    border-radius: 5px 30px 30px 30px;
    display:flex;
    flex-direction: row;
  }
  
  .welcome h2 {
    font-size: 3vw;
  }
  
  .welcome h3 {
    font-size: 2vw;
  }
  
  .welcome img {
    width: 50%; /* Make images fill their container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* or object-fit: contain; */
  }