div.scroll-container {
    /* display: flex; */
    background-color: white;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
    width: 100%;
    height: 100%;
    transform: scale(0.4);
  }